<div>
  <h1>New</h1>
  <form name="articleForm" role="form" data-ng-submit="create.createArticle(articleForm.$valid)" novalidate>

    <input name="title" type="text" data-ng-model="create.article.title" class="form-control" placeholder="Title" required/>

    <textarea type="text" data-ng-model="create.article.abstract" class="form-control" placeholder="Abstract" rows="3" required></textarea>

    <textarea data-ng-model="create.article.body" class="form-control" placeholder="Content" rows="10" required></textarea>

    <input type="submit" value="Save" class="btn btn-primary form-control"/>

  </form>
</div>
