<h1 class="text-center">Blog</h1>
<ul class="list-unstyled" data-ng-init="list.find()">
  <li ng-repeat="article in list.articles | orderBy: '-createdAt'" id="article{{article.articleId}}">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center"><a href="#/articles/{{article._id}}">{{article.title}}</a></h1>
      <h5 class="text-center">{{article.createdAt | date}} | By {{article.author}}</h5>
      <p>
        {{article.abstract}}...
        <a href="#/articles/{{article._id}}">more</a>
        <a href="#/articles/{{article._id}}/edit">edit</a>
        <a ng-click="list.remove(article)">delete</a>
      </p>
    </div>
  </li>
</ul>
